html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    height: 100vh;
}

.navbar {
    margin: 0;
    padding: 0 !important;
    background-color: rgba(150, 214, 0, 0.75) !important;
}

.temperatura {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 230px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 1em;
    background-color: rgba(150, 214, 0, 0.75);
    z-index: 10;
}

.arriba {
    position: fixed;
    bottom: 35px;
    right: 0;
    height: 30px;
    width: 80px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 1em;
    background-color: rgba(150, 214, 0, 0.75);
    z-index: 10;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.color-neutro {
    background-color: #F2EECE;
}

.color-complementario {
    background-color: #96D600;
}

.color-acento {
    background-color: #08FF00;
}

.blanco {
    background-color: white;
}

.color-blanco {
    color: white;
}

.imagen {
    background-image: url(imagenes/alimentos.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imagen-personal1 {
    background-image: url(imagenes/chef2.jpg);
    background-position: -150px 0px;
    background-size: 175%;
    background-repeat: no-repeat;
}

.imagen-personal2 {
    background-image: url(imagenes/nutricionista2.jpg);
    background-position: -80px 0;
    background-size: 156%;
    background-repeat: no-repeat;
}

.imagen-personal3 {
    background-image: url(imagenes/creatina2.jpg);
    background-position: -50px -30px;
    background-size: 170%;
    background-repeat: no-repeat;
}

.sombra {
    box-shadow: 0 0 50px 20px rgba(100, 100, 100, 0.25);
}

.redondear {
    border-radius: .75em;
}

.boton {
    background-color: white !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: light !important;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
    font-style: italic !important;
    color: #10113C !important;
}

h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold !important;
    font-style: italic;
    color: #10113C !important;
    line-height: 2em !important;
    text-align: justify;
}

.fondo {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.fondo-imagen {
    position: absolute;
    background-image: url(imagenes/alimentos.jpg);
    background-size: cover;
    z-index: 1;
}

.blur {
    backdrop-filter: blur(15px) brightness(150%) contrast(20%);
    z-index: 1;
}

.error {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
    color: white;
}

input::placeholder {
    font-family: 'Montserrat', sans-serif !important;
}

@media only screen and (max-width: 575.98px) {
    ...
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    #contenedor {
        height: fit-content !important;
    }
    #contenedor2 {
        height: fit-content !important;
    }
    #contenedor3 {
        height: fit-content !important;
        width: 1200px !important;
    }
    #inicio {
        height: 100vh;
    }
    #imagen {
        height: 33vh !important;
        width: 33vh !important;
        margin-top: 50px !important;
    }
    #texto1 {
        height: 50vh !important;
    }
    #ofrecemos {
        height: fit-content !important;
    }
    .imagen-personal1 {
        height: 40vh;
    }
    .imagen-personal2 {
        height: 40vh;
    }
    .imagen-personal3 {
        height: 40vh;
    }
    #texto-buscas {
        margin: 25px 0px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    #inicio {
        height: 125% !important;
    }
    #contenedor {
        margin-top: 40px;
    }
    #inicio>.row {
        height: 100vh !important;
    }
    #texto1 {
        height: 350px !important;
        margin-top: 10px !important;
    }
    #imagen {
        height: 300px !important;
    }
    .letras-ofrecemos {
        font-size: 15px;
    }
    .imagen-personal1 {
        background-position: -120px 0px !important;
    }
    .imagen-personal2 {
        background-position: -80px 0px !important;
        background-size: 180% !important;
    }
    .imagen-personal3 {
        background-position: -50px 0px;
        background-size: 175% !important;
    }
    #contenedor {
        height: fit-content !important;
    }
    .texto-alimentos {
        width: 100% !important;
        height: fit-content !important;
    }
    #container-textos {
        margin: auto !important;
        width: 1200px !important;
    }
    #contenedor3 {
        height: fit-content !important;
        margin: auto;
    }
    #contenedor2 {
        height: fit-content !important;
    }
    .fit-content {
        height: fit-content !important;
    }
    .blur>.row {
        height: 100vh;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    #inicio {
        height: 125% !important;
    }
    #contenedor {
        margin-top: 20px;
    }
    .letras-ofrecemos {
        font-size: 15px;
        padding-bottom: 0 !important;
    }
    .texto-alimentos {
        width: 90% !important;
        height: fit-content !important;
    }
}

@media only screen and (min-width: 1200px) {
    #texto1 {
        height: 350px !important;
    }
    #contenedor-fitfuel {
        height: 250px;
    }
    #imagen {
        height: 300px !important;
    }
    .letras-ofrecemos {
        font-size: 20px;
        padding-bottom: 0 !important;
    }
    .texto-alimentos {
        width: 90% !important;
    }
}