html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
}

.color-neutro {
    background-color: #747898;
}

.color-complementario {
    background-color: #F6DC3B;
}

.color-acento {
    background-color: #10113C;
}

.blanco {
    background-color: white;
}

.imagen {
    background-image: url(imagenes/negocio.jpg);
    background-position: 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.sombra {
    box-shadow: 0 0 50px 20px rgba(100, 100, 100, 0.25);
}

.redondear {
    border-radius: .75em;
}

.boton {
    background-color: #AD961F !important;
    font-family: 'Source Serif Pro', serif !important;
    font-weight: light !important;
    color: white !important;
    /* box-shadow: 0 0 20px 10px rgba(65, 65, 65, 0.1); */
}

h1 {
    font-family: 'Source Serif Pro', serif;
    font-weight: bold !important;
    color: #10113C !important;
}

h4,
h5,
h6 {
    font-family: 'Source Serif Pro', serif;
    font-weight: light !important;
    font-style: italic;
    color: #10113C !important;
    line-height: 2em !important;
}

.fondo {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 768px) {
    #contenedor {
        height: fit-content !important;
    }
    #contenedor2 {
        height: fit-content !important;
    }
    #contenedor3 {
        height: fit-content !important;
    }
}